{% extends 'base.html.twig' %}

{% block title %}Paniers index{% endblock %}

{% block body %}
    <h1>Paniers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>PanierId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.panierId }}</td>
                <td>
                    <a href="{{ path('app_paniers_show', {'panierId': panier.panierId}) }}">show</a>
                    <a href="{{ path('app_paniers_edit', {'panierId': panier.panierId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paniers_new') }}">Create new</a>
{% endblock %}
